In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [46]:
covid_data_file1 = '../data/race_data_tracker.csv'
covid_tracker_df = pd.read_csv(covid_data_file1, dtype="object", encoding="utf-8")
# covid_tracker_df.shape
covid_tracker_df.tail(50)

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
1630,20200412,CO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1631,20200412,CT,11510,3030,993,1277,124,0,0,0,...,45,6,0,0,0,6,29,0,0,0
1632,20200412,DC,1874,354,852,0,26,0,6,242,...,6,2,0,0,0,0,0,0,0,0
1633,20200412,DE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
1634,20200412,FL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1635,20200412,GA,12922,2023,2741,372,86,10,7,28,...,0,0,0,0,0,0,0,0,0,0
1636,20200412,GU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1637,20200412,HI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1638,20200412,IA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1639,20200412,ID,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1640,20200412,IL,20852,5214,5458,2513,691,24,28,0,...,70,27,2,1,0,12,41,0,0,0
1641,20200412,IN,7928,3734,1331,0,55,0,0,0,...,0,1,0,0,0,24,31,5,200,138
1642,20200412,KS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1643,20200412,KY,1959,1123,159,0,34,1,0,54,...,0,2,0,0,0,0,373,0,0,0
1644,20200412,LA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1645,20200412,MA,25475,4271,1358,1885,331,0,0,0,...,28,13,0,0,0,16,480,28,49,480
1646,20200412,MD,8251,2300,3200,0,190,0,0,0,...,0,8,0,0,0,12,28,0,0,0
1647,20200412,ME,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1648,20200412,MI,24635,6652,8130,0,0,246,246,985,...,0,0,0,14,14,29,297,14,951,520
1649,20200412,MN,1642,1086,145,0,64,16,8,0,...,0,1,0,1,0,0,9,2,58,9
1650,20200412,MO,4158,1414,1123,0,0,0,0,166,...,0,0,0,0,2,2,39,4,62,42
1651,20200412,MP,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1652,20200412,MS,2780,1001,1529,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1653,20200412,MT,387,305,1,0,1,13,0,0,...,0,0,0,0,0,0,0,0,0,0
1654,20200412,NC,4520,1768,1245,0,54,16,8,0,...,0,1,0,0,0,0,5,2,68,11
1655,20200412,ND,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1656,20200412,NE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1657,20200412,NH,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1658,20200412,NJ,0,0,0,0,0,0,0,0,...,0,36,0,0,0,80,0,0,0,0
1659,20200412,NM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1660,20200412,NV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1661,20200412,NY,0,0,0,0,0,0,0,0,...,0,576,0,0,0,374,0,2656,0,0
1662,20200412,OH,6604,3524,1328,0,124,4,2,137,...,0,0,0,0,4,3,52,2,161,90
1663,20200412,OK,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1664,20200412,OR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1665,20200412,PA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1666,20200412,PR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1667,20200412,RI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1668,20200412,SC,2010,1108,780,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
1669,20200412,SD,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1670,20200412,TN,5308,2504,922,0,73,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1671,20200412,TX,2021,787,223,518,91,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1672,20200412,UT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1673,20200412,VA,5274,1528,841,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1674,20200412,VI,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1675,20200412,VT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,20200412,WA,10411,2903,289,1180,451,41,61,112,...,24,36,5,1,3,7,133,24,351,133
1677,20200412,WI,3341,1680,857,0,81,28,0,0,...,0,4,1,0,0,0,1,4,138,2
1678,20200412,WV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,20200412,WY,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
top_states_df = covid_tracker_df[(covid_tracker_df['State'] == 'CA') & (covid_tracker_df['Date'] == '20200722') |
                          (covid_tracker_df['State'] == 'FL') & (covid_tracker_df['Date'] == '20200722') |\
                          (covid_tracker_df['State'] == 'NY') & (covid_tracker_df['Date'] == '20200722')|\
                          (covid_tracker_df['State'] == 'TX') & (covid_tracker_df['Date'] == '20200722')]
top_states_df

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
5,20200722,CA,413576,46562,11396,146903,14920,587,1590,1967,...,3455,1008,27,41,41,93,198,3455,4217,198
10,20200722,FL,379619,78227,52834,93126,0,0,0,0,...,1358,0,0,0,0,185,340,1358,3502,599
37,20200722,NY,408886,0,0,0,0,0,0,0,...,6665,1683,0,0,0,1842,3016,6665,18451,3016
47,20200722,TX,351618,7428,3491,11999,671,0,0,0,...,229,15,0,0,0,1,3679,229,440,3679

In [48]:
top_states_df.columns

Index(['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_LatinX', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_LatinX', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown'],
      dtype='object')

In [57]:
# Cases
state_cases_df = top_states_df[['State','Cases_Total','Cases_White', 'Cases_Black',
       'Cases_LatinX', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI']]
state_cases_df.head()

,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI
5,CA,413576,46562,11396,146903,14920,587,1590
10,FL,379619,78227,52834,93126,0,0,0
37,NY,408886,0,0,0,0,0,0
47,TX,351618,7428,3491,11999,671,0,0

In [58]:
# Declare a list that is to be converted into a column 
population = ['39512223', '21477737', '19453561', '28995881'] 

# Using 'Address' as the column name 
# and equating it to the list 
state_cases_df['Population'] = population

state_cases_df

/Users/allyson/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Population
5,CA,413576,46562,11396,146903,14920,587,1590,39512223
10,FL,379619,78227,52834,93126,0,0,0,21477737
37,NY,408886,0,0,0,0,0,0,19453561
47,TX,351618,7428,3491,11999,671,0,0,28995881

In [69]:
top_states_df.columns

Index(['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_LatinX', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_LatinX', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown'],
      dtype='object')

In [73]:
#Deaths
state_deaths_df= top_states_df[['State','Deaths_Total', 'Deaths_White', 'Deaths_Black', 'Deaths_LatinX',
       'Deaths_Asian', 'Deaths_AIAN', 'Deaths_NHPI']]
state_deaths_df

,State,Deaths_Total,Deaths_White,Deaths_Black,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI
5,CA,7870,2347,660,3455,1008,27,41
10,FL,5459,2515,1061,1358,0,0,0
37,NY,28132,8597,6329,6665,1683,0,0
47,TX,4348,329,95,229,15,0,0

In [61]:
# Export the clean covid tracker data into a csv
state_cases_df.to_csv("../data/state_cases.csv",encoding='utf-8', index=False)

In [65]:
# Death Cases
state_death_cases_df = top_states_df[['State','Cases_Total','Cases_White', 'Cases_Black',
       'Cases_LatinX', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI']]
state_death_cases_df.head()

,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI
5,CA,413576,46562,11396,146903,14920,587,1590
10,FL,379619,78227,52834,93126,0,0,0
37,NY,408886,0,0,0,0,0,0
47,TX,351618,7428,3491,11999,671,0,0

In [76]:
state_death_cases_df['Population'] = population
state_death_cases_df

/Users/allyson/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Population
5,CA,413576,46562,11396,146903,14920,587,1590,39512223
10,FL,379619,78227,52834,93126,0,0,0,21477737
37,NY,408886,0,0,0,0,0,0,19453561
47,TX,351618,7428,3491,11999,671,0,0,28995881

In [79]:
state_death_cases_df= state_death_cases_df[['Population','Cases_Total', 'Cases_White', 'Cases_Black', 'Cases_LatinX',
       'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI']]
state_death_cases_df

,Population,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI
5,39512223,413576,46562,11396,146903,14920,587,1590
10,21477737,379619,78227,52834,93126,0,0,0
37,19453561,408886,0,0,0,0,0,0
47,28995881,351618,7428,3491,11999,671,0,0

In [67]:
# Export the clean covid tracker data into a csv
state_death_cases_df.to_csv("../data/state_death_cases.csv",encoding='utf-8', index=False)